{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <div>
            <input autofocus autocomplete="off" name="username" type="text" placeholder="Username">
        </div>
        <div>
            <input autofocus autocomplete="off" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
{% endblock %}